* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: 'AGPresquire';
  src: url("../font/subset-AGPresquire-Bold.woff");
}

body {
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  margin-left: 60px;
}

.city-map {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

/*Images*/
.map-cloud {
  position: absolute;
  z-index: 1;
}

.map-cloud.cloud--first {
  top: -150px;
  left: 0;
}

.map-cloud.cloud--second {
  right: -1300px;
  top: -50px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  transform-origin: 50% 50%;
}

.map-cloud.cloud--third {
  right: -1300px;
  top: -250px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  transform-origin: 50% 50%;
}

.map-cloud.cloud--fourth {
  left: -1500px;
  top: -150px;
}

.map-cloud.cloud--fifth {
  left: -1150px;
  bottom: -230px;
}

.map-cloud.cloud--sixth {
  right: -700px;
  top: -150px;
}

.map-compass {
  width: 140px;
  z-index: 2;
  height: 150px;
  background: url("../img/svg/compass.svg") no-repeat 50% 50%;
  background-size: 140px 150px;
  margin: 100px 65px auto auto;
}
/*end*/

/*Buttons and text*/
.map__container {
  margin: auto auto 65px 75px;
  z-index: 2;
}

.map-text {
  font-family: 'AGPresquire', sans-serif;
  line-height: 36px;
  font-size: 22px;
  text-transform: uppercase;
  color: #005062;
  margin-bottom: 20px;
}

.map-caption {
  font-family: 'AGPresquire', sans-serif;
  color: #005062;
  line-height: normal;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.map__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.map-btn {
  text-decoration: none;
  padding: 13px 23px;
  border-radius: 90px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 23px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 15px;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -ms-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
  &:last-child {
    margin-right: 0;
  }
}

.map-btn.map-btn--darkblue {
  color: #005062;
  border: 1px solid #005062;
  &:hover {
    color: #FFFFFF;
    background: #005062;
  }
}
.map-btn.map-btn--orange {
  color: #FF5012;
  border: 1px solid #FF5012;
  &:hover {
    color: #FFFFFF;
    background: #FF5012;
  }
}
.map-btn.map-btn--blue {
  color: #0EB4C4;
  border: 1px solid #0EB4C4;
  &:hover {
    color: #FFFFFF;
    background: #0EB4C4;
  }
}
/*end*/

/*Map image*/
.map-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}
.map-image {
  width: 100%;
  height: 100%;
  z-index: 1;
  @media screen and (min-height: 991px) and (max-height: 1080px){
    width: 1860px;
    height: 1080px;
    position: absolute;
    top: calc(50% - 540px);
    left: calc(50% - 930px);
  }
}

.map-image-dw {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  opacity: .6;
  top: 0;
  left: 0;
  @media screen and (min-height: 991px) and (max-height: 1080px){
    width: 1860px;
    height: 1080px;
    position: absolute;
    top: calc(50% - 540px);
    left: calc(50% - 930px);
  }
}
/*end*/

/*Fields*/
.container {
  position: absolute;
  top: 150px;
  left: calc(50% - 650px);
  z-index: 1;
  max-width: 1350px;
  width: 100%;
  height: 650px;
  background: black;
  opacity: .4;
}

.field {
  position: absolute;
}

.filed-2 {
  top: 51px;
  left: 93px;
}
.filed-2 svg {
  width: 75px;
  height: 31px;
}

.filed-3 {
  top: 50px;
  left: 139px;
}
.filed-3 svg {
  width: 70px;
  height: 32px;
}

.filed-4 {
  top: 50px;
  left: 175px;
}
.filed-4 svg {
  width: 80px;
  height: 34px;
}

.filed-5 {
  top: 50px;
  left: 225px;
}
.filed-5 svg {
  width: 75px;
  height: 34px;
}

.filed-6 {
  top: 50px;
  left: 277px;
}
.filed-6 svg {
  width: 70px;
  height: 35px;
}

.filed-8 {
  top: 110px;
  left: -3px;
}
.filed-8 svg {
  width: 83px;
  height: 38px;
}

.filed-9 {
  top: 101px;
  left: 65px;
}
.filed-9 svg {
  width: 57px;
  height: 37px;
}

.filed-10 {
  top: 90px;
  left: 107px;
}
.filed-10 svg {
  width: 73px;
  height: 40px;
}

.filed-11 {
  top: 85px;
  left: 167px;
}
.filed-11 svg {
  width: 80px;
  height: 34px;
}

.filed-12 {
  top: 86px;
  left: 229px;
}
.filed-12 svg {
  width: 106px;
  height: 24px;
}

.filed-13 {
  top: 51px;
  left: 319px;
}
.filed-13 svg {
  width: 88px;
  height: 39px;
}

.filed-14 {
  top: 56px;
  left: 360px;
}
.filed-14 svg {
  width: 93px;
  height: 42px;
}

.filed-15 {
  top: 62px;
  left: 410px;
}
.filed-15 svg {
  width: 85px;
  height: 43px;
}

.filed-16 {
  top: 70px;
  left: 446px;
}
.filed-16 svg {
  width: 83px;
  height: 43px;
}

.filed-17 {
  top: 79px;
  left: 475px;
}
.filed-17 svg {
  width: 97px;
  height: 46px;
}

.filed-18 {
  top: 92px;
  left: 510px;
}
.filed-18 svg {
  width: 115px;
  height: 51px;
}

.filed-19 {
  top: 110px;
  left: 561px;
}
.filed-19 svg {
  width: 128px;
  height: 62px;
}

.filed-19-1 {
  top: 126px;
  left: 610px;
}
.filed-19-1 svg {
  width: 134px;
  height: 68px;
}

.filed-20 {
  top: 130px;
  left: 21px;
}
.filed-20 svg {
  width: 105px;
  height: 51px;
}

.filed-21 {
  top: 122px;
  left: 99px;
}
.filed-21 svg {
  width: 77px;
  height: 48px;
}

.filed-22 {
  top: 114px;
  left: 149px;
}
.filed-22 svg {
  width: 80px;
  height: 46px;
}

.filed-23 {
  top: 106px;
  left: 196px;
}
.filed-23 svg {
  width: 84px;
  height: 47px;
}

.filed-24 {
  top: 98px;
  left: 251px;
}
.filed-24 svg {
  width: 75px;
  height: 46px;
}

.filed-25 {
  top: 90px;
  left: 295px;
}
.filed-25 svg {
  width: 85px;
  height: 45px;
}

.filed-26 {
  top: 90px;
  left: 340px;
}
.filed-26 svg {
  width: 80px;
  height: 38px;
}

.filed-27 {
  top: 100px;
  left: 375px;
}
.filed-27 svg {
  width: 90px;
  height: 46px;
}

.filed-28 {
  top: 164px;
  left: 55px;
}
.filed-28 svg {
  width: 96px;
  height: 49px;
}

.filed-29 {
  top: 155px;
  left: 120px;
}
.filed-29 svg {
  width: 80px;
  height: 48px;
}

.filed-30 {
  top: 146px;
  left: 168px;
}
.filed-30 svg {
  width: 84px;
  height: 46px;
}

.filed-31 {
  top: 138px;
  left: 223px;
}
.filed-31 svg {
  width: 76px;
  height: 47px;
}

.filed-32 {
  top: 128px;
  left: 273px;
}
.filed-32 svg {
  width: 71px;
  height: 48px;
}

.filed-33 {
  top: 120px;
  left: 320px;
}
.filed-33 svg {
  width: 107px;
  height: 48px;
}

.filed-34 {
  top: 195px;
  left: 100px;
}
.filed-34 svg {
  width: 124px;
  height: 61px;
}

.filed-35 {
  top: 187px;
  left: 196px;
}
.filed-35 svg {
  width: 81px;
  height: 54px;
}

.filed-36 {
  top: 180px;
  left: 246px;
}
.filed-36 svg {
  width: 76px;
  height: 51px;
}

.filed-37 {
  top: 173px;
  left: 281px;
}
.filed-37 svg {
  width: 80px;
  height: 49px;
}

.filed-38 {
  top: 165px;
  left: 323px;
}
.filed-38 svg {
  width: 80px;
  height: 49px;
}

.filed-39 {
  top: 157px;
  left: 360px;
}
.filed-39 svg {
  width: 85px;
  height: 50px;
}

.filed-40 {
  top: 153px;
  left: 402px;
}
.filed-40 svg {
  width: 87px;
  height: 46px;
}

.filed-41 {
  top: 181px;
  left: 438px;
}
.filed-41 svg {
  width: 94px;
  height: 51px;
}

.filed-42 {
  top: 192px;
  left: 397px;
}
.filed-42 svg {
  width: 80px;
  height: 50px;
}

.filed-43 {
  top: 200px;
  left: 355px;
}
.filed-43 svg {
  width: 80px;
  height: 52px;
}

.filed-44 {
  top: 207px;
  left: 315px;
}
.filed-44 svg {
  width: 77px;
  height: 52px;
}

.filed-45 {
  top: 215px;
  left: 270px;
}
.filed-45 svg {
  width: 79px;
  height: 52px;
}

.filed-46 {
  top: 223px;
  left: 217px;
}
.filed-46 svg {
  width: 86px;
  height: 57px;
}

.filed-47 {
  top: 233px;
  left: 140px;
}
.filed-47 svg {
  width: 107px;
  height: 59px;
}

.filed-48 {
  top: 215px;
  left: 508px;
}
.filed-48 svg {
  width: 105px;
  height: 57px;
}

.filed-49 {
  top: 226px;
  left: 455px;
}
.filed-49 svg {
  width: 90px;
  height: 57px;
}

.filed-50 {
  top: 236px;
  left: 400px;
}
.filed-50 svg {
  width: 90px;
  height: 60px;
}

.filed-51 {
  top: 248px;
  left: 344px;
}
.filed-51 svg {
  width: 88px;
  height: 60px;
}

.filed-52 {
  top: 260px;
  left: 268px;
}
.filed-52 svg {
  width: 107px;
  height: 62px;
}

.filed-53 {
  top: 275px;
  left: 187px;
}
.filed-53 svg {
  width: 127px;
  height: 63px;
}

.filed-54 {
  top: 248px;
  left: 538px;
}
.filed-54 svg {
  width: 138px;
  height: 71px;
}

.filed-56 {
  top: 264px;
  left: 485px;
}
.filed-56 svg {
  width: 104px;
  height: 69px;
}

.filed-57 {
  top: 275px;
  left: 425px;
}
.filed-57 svg {
  width: 105px;
  height: 71px;
}

.filed-58 {
  top: 288px;
  left: 368px;
}
.filed-58 svg {
  width: 102px;
  height: 73px;
}

.filed-59 {
  top: 300px;
  left: 306px;
}
.filed-59 svg {
  width: 102px;
  height: 76px;
}

.filed-60 {
  top: 313px;
  left: 230px;
}
.filed-60 svg {
  width: 114px;
  height: 77px;
}

.filed-61 {
  top: 110px;
  left: 405px;
}
.filed-61 svg {
  width: 90px;
  height: 47px;
}

.filed-62 {
  top: 121px;
  left: 440px;
}
.filed-62 svg {
  width: 98px;
  height: 45px;
}

.filed-64 {
  top: 136px;
  left: 465px;
}
.filed-64 svg {
  width: 110px;
  height: 46px;
}

.filed-65 {
  top: 160px;
  left: 505px;
}
.filed-65 svg {
  width: 100px;
  height: 47px;
}

.filed-66 {
  top: 174px;
  left: 532px;
}
.filed-66 svg {
  width: 104px;
  height: 48px;
}

.filed-67 {
  top: 193px;
  left: 558px;
}
.filed-67 svg {
  width: 108px;
  height: 49px;
}

.filed-68 {
  top: 210px;
  left: 590px;
}
.filed-68 svg {
  width: 117px;
  height: 58px;
}

.filed-69 {
  top: 231px;
  left: 625px;
}
.filed-69 svg {
  width: 116px;
  height: 65px;
}

.filed-70 {
  top: 253px;
  left: 667px;
}
.filed-70 svg {
  width: 103px;
  height: 60px;
}

.filed-71 {
  top: 273px;
  left: 696px;
}
.filed-71 svg {
  width: 109px;
  height: 60px;
}

.filed-72 {
  top: 303px;
  left: 738px;
}
.filed-72 svg {
  width: 124px;
  height: 71px;
}

.filed-73 {
  top: 303px;
  left: 620px;
}
.filed-73 svg {
  width: 111px;
  height: 69px;
}

.filed-74 {
  top: 314px;
  left: 560px;
}
.filed-74 svg {
  width: 109px;
  height: 74px;
}

.filed-75 {
  top: 328px;
  left: 500px;
}
.filed-75 svg {
  width: 110px;
  height: 75px;
}

.filed-76 {
  top: 343px;
  left: 443px;
}
.filed-76 svg {
  width: 102px;
  height: 78px;
}

.filed-77 {
  top: 357px;
  left: 383px;
}
.filed-77 svg {
  width: 98px;
  height: 82px;
}

.filed-78 {
  top: 370px;
  left: 308px;
}
.filed-78 svg {
  width: 111px;
  height: 86px;
}

.filed-79 {
  top: 385px;
  left: 245px;
}
.filed-79 svg {
  width: 102px;
  height: 88px;
}

.filed-80 {
  top: 330px;
  left: 782px;
}
.filed-80 svg {
  width: 123px;
  height: 72px;
}

.filed-81 {
  top: 357px;
  left: 823px;
}
.filed-81 svg {
  width: 128px;
  height: 73px;
}

.filed-82 {
  top: 387px;
  left: 861px;
}
.filed-82 svg {
  width: 140px;
  height: 80px;
}

.filed-83 {
  top: 263px;
  left: 823px;
}
.filed-83 svg {
  width: 123px;
  height: 68px;
}

.filed-84 {
  top: 241px;
  left: 763px;
}
.filed-84 svg {
  width: 105px;
  height: 63px;
}

.filed-85 {
  top: 224px;
  left: 805px;
}
.filed-85 svg {
  width: 106px;
  height: 63px;
}

.filed-86 {
  top: 209px;
  left: 847px;
}
.filed-86 svg {
  width: 104px;
  height: 58px;
}

.filed-87 {
  top: 194px;
  left: 884px;
}
.filed-87 svg {
  width: 106px;
  height: 54px;
}

.filed-88 {
  top: 447px;
  left: 268px;
}
.filed-88 svg {
  width: 112px;
  height: 100px;
}

.filed-89 {
  top: 430px;
  left: 343px;
}
.filed-89 svg {
  width: 110px;
  height: 97px;
}

.filed-90 {
  top: 414px;
  left: 415px;
}
.filed-90 svg {
  width: 109px;
  height: 92px;
}

.filed-91 {
  top: 396px;
  left: 475px;
}
.filed-91 svg {
  width: 118px;
  height: 89px;
}

.filed-92 {
  top: 380px;
  left: 540px;
}
.filed-92 svg {
  width: 118px;
  height: 87px;
}

.filed-93 {
  top: 364px;
  left: 602px;
}
.filed-93 svg {
  width: 119px;
  height: 85px;
}

.filed-94 {
  top: 343px;
  left: 663px;
}
.filed-94 svg {
  width: 140px;
  height: 89px;
}

.filed-95 {
  top: 178px;
  left: 926px;
}
.filed-95 svg {
  width: 104px;
  height: 53px;
}

.filed-96 {
  top: 166px;
  left: 965px;
}
.filed-96 svg {
  width: 107px;
  height: 50px;
}

.filed-97 {
  top: 150px;
  left: 997px;
}
.filed-97 svg {
  width: 109px;
  height: 55px;
}

.filed-98 {
  top: 137px;
  left: 1033px;
}
.filed-98 svg {
  width: 120px;
  height: 57px;
}

.filed-99 {
  top: 130px;
  left: 1063px;
}
.filed-99 svg {
  width: 90px;
  height: 57px;
}

.filed-100 {
  top: 520px;
  left: 365px;
}
.filed-100 svg {
  width: 113px;
  height: 110px;
}

.filed-101 {
  top: 500px;
  left: 433px;
}
.filed-101 svg {
  width: 120px;
  height: 108px;
}

.filed-102 {
  top: 483px;
  left: 503px;
}
.filed-102 svg {
  width: 124px;
  height: 101px;
}

.filed-103 {
  top: 463px;
  left: 572px;
}
.filed-103 svg {
  width: 128px;
  height: 98px;
}

.filed-104 {
  top: 444px;
  left: 644px;
}
.filed-104 svg {
  width: 124px;
  height: 97px;
}

.filed-105 {
  top: 426px;
  left: 711px;
}
.filed-105 svg {
  width: 122px;
  height: 94px;
}

.filed-106 {
  top: 403px;
  left: 768px;
}
.filed-106 svg {
  width: 147px;
  height: 129px;
}

.filed-107 {
  top: 142px;
  left: 1150px;
}
.filed-107 svg {
  width: 63px;
  height: 58px;
}

.filed-108 {
  top: 153px;
  left: 1198px;
}
.filed-108 svg {
  width: 72px;
  height: 60px;
}

.filed-109 {
  top: 158px;
  left: 1261px;
}
.filed-109 svg {
  width: 93px;
  height: 65px;
}

.filed-110 {
  top: 128px;
  left: 1248px;
}
.filed-110 svg {
  width: 94px;
  height: 41px;
}

.filed-111 {
  top: 418px;
  left: 908px;
}
.filed-111 svg {
  width: 145px;
  height: 111px;
}

.filed-112 {
  top: 453px;
  left: 905px;
}
.filed-112 svg {
  width: 206px;
  height: 105px;
}

.filed-113 {
  top: 488px;
  left: 984px;
}
.filed-113 svg {
  width: 186px;
  height: 98px;
}

.filed-114 {
  top: 526px;
  left: 1068px;
}
.filed-114 svg {
  width: 180px;
  height: 106px;
}

.filed-115 {
  top: 166px;
  left: 643px;
}
.filed-115 svg {
  width: 80px;
  height: 47px;
}

.filed-116 {
  top: 145px;
  left: 680px;
}
.filed-116 svg {
  width: 84px;
  height: 56px;
}

.filed-117 {
  top: 132px;
  left: 723px;
}
.filed-117 svg {
  width: 82px;
  height: 53px;
}

.filed-118 {
  top: 121px;
  left: 760px;
}
.filed-118 svg {
  width: 82px;
  height: 50px;
}

.filed-119 {
  top: 113px;
  left: 791px;
}
.filed-119 svg {
  width: 79px;
  height: 45px;
}

.filed-120 {
  top: 100px;
  left: 820px;
}
.filed-120 svg {
  width: 92px;
  height: 48px;
}

.filed-121 {
  top: 90px;
  left: 861px;
}
.filed-121 svg {
  width: 82px;
  height: 44px;
}

.filed-122 {
  top: 70px;
  left: 888px;
}
.filed-122 svg {
  width: 94px;
  height: 53px;
}

.filed-123 {
  top: 50px;
  left: 918px;
}
.filed-123 svg {
  width: 94px;
  height: 60px;
}

.filed-124 {
  top: 38px;
  left: 956px;
}
.filed-124 svg {
  width: 90px;
  height: 60px;
}

.filed-125 {
  top: 24px;
  left: 976px;
}
.filed-125 svg {
  width: 100px;
  height: 62px;
}

.filed-126 {
  top: 13px;
  left: 1009px;
}
.filed-126 svg {
  width: 98px;
  height: 62px;
}

.filed-127 {
  top: 11px;
  left: 1034px;
}
.filed-127 svg {
  width: 98px;
  height: 55px;
}

.filed-128 {
  top: 10px;
  left: 1058px;
}
.filed-128 svg {
  width: 96px;
  height: 45px;
}

.filed-129 {
  top: 11px;
  left: 1100px;
}
.filed-129 svg {
  width: 82px;
  height: 37px;
}

.filed-130 {
  top: 4px;
  left: 1132px;
}
.filed-130 svg {
  width: 92px;
  height: 32px;
}

.filed-132 {
  top: 52px;
  left: 1112px;
}
.filed-132 svg {
  width: 108px;
  height: 39px;
}

.filed-133 {
  top: 61px;
  left: 1084px;
}
.filed-133 svg {
  width: 90px;
  height: 40px;
}

.filed-134 {
  top: 70px;
  left: 1052px;
}
.filed-134 svg {
  width: 91px;
  height: 44px;
}

.filed-135 {
  top: 81px;
  left: 1018px;
}
.filed-135 svg {
  width: 93px;
  height: 47px;
}

.filed-136 {
  top: 94px;
  left: 988px;
}
.filed-136 svg {
  width: 64px;
  height: 33px;
}

.filed-137 {
  top: 106px;
  left: 956px;
}
.filed-137 svg {
  width: 64px;
  height: 33px;
}

.filed-137-1 {
  top: 120px;
  left: 984px;
}
.filed-137-1 svg {
  width: 65px;
  height: 32px;
}

.filed-138 {
  top: 118px;
  left: 923px;
}
.filed-138 svg {
  width: 66px;
  height: 32px;
}

.filed-138-1 {
  top: 132px;
  left: 953px;
}
.filed-138-1 svg {
  width: 66px;
  height: 31px;
}

.filed-139 {
  top: 131px;
  left: 886px;
}
.filed-139 svg {
  width: 74px;
  height: 33px;
}

.filed-139-1 {
  top: 144px;
  left: 911px;
}
.filed-139-1 svg {
  width: 72px;
  height: 33px;
}

.filed-140 {
  top: 144px;
  left: 845px;
}
.filed-140 svg {
  width: 77px;
  height: 33px;
}

.filed-140-1 {
  top: 158px;
  left: 875px;
}
.filed-140-1 svg {
  width: 76px;
  height: 33px;
}

.filed-141 {
  top: 158px;
  left: 809px;
}
.filed-141 svg {
  width: 76px;
  height: 33px;
}

.filed-141-1 {
  top: 173px;
  left: 838px;
}
.filed-141-1 svg {
  width: 76px;
  height: 33px;
}

.filed-142 {
  top: 172px;
  left: 772px;
}
.filed-142 svg {
  width: 72px;
  height: 33px;
}

.filed-142-1 {
  top: 187px;
  left: 799px;
}
.filed-142-1 svg {
  width: 72px;
  height: 36px;
}

.filed-143 {
  top: 184px;
  left: 733px;
}
.filed-143 svg {
  width: 71px;
  height: 40px;
}

.filed-143-1 {
  top: 202px;
  left: 762px;
}
.filed-143-1 svg {
  width: 72px;
  height: 39px;
}

.filed-144 {
  top: 197px;
  left: 692px;
}
.filed-144 svg {
  width: 73px;
  height: 42px;
}

.filed-144-1 {
  top: 216px;
  left: 724px;
}
.filed-144-1 svg {
  width: 70px;
  height: 39px;
}

.filed-145 {
  top: 94px;
  left: 1076px;
}
.filed-145 svg {
  width: 92px;
  height: 44px;
}

.filed-146 {
  top: 84px;
  left: 1138px;
}
.filed-146 svg {
  width: 92px;
  height: 30px;
}

.filed-146-1 {
  top: 107px;
  left: 1012px;
}
.filed-146-1 svg {
  width: 70px;
  height: 32px;
}

.filed-147 {
  top: 104px;
  left: 1158px;
}
.filed-147 svg {
  width: 84px;
  height: 29px;
}

.filed-148 {
  top: 118px;
  left: 1152px;
}
.filed-148 svg {
  width: 100px;
  height: 37px;
}

.filed-149 {
  top: 292px;
  left: 868px;
}
.filed-149 svg {
  width: 126px;
  height: 67px;
}

.filed-150 {
  top: 318px;
  left: 912px;
}
.filed-150 svg {
  width: 131px;
  height: 71px;
}

.filed-151 {
  top: 348px;
  left: 964px;
}
.filed-151 svg {
  width: 130px;
  height: 72px;
}

.filed-152 {
  top: 376px;
  left: 1011px;
}
.filed-152 svg {
  width: 136px;
  height: 79px;
}

.filed-153 {
  top: 406px;
  left: 1062px;
}
.filed-153 svg {
  width: 141px;
  height: 84px;
}

.filed-154 {
  top: 440px;
  left: 1112px;
}
.filed-154 svg {
  width: 145px;
  height: 87px;
}

.filed-155 {
  top: 472px;
  left: 1176px;
}
.filed-155 svg {
  width: 136px;
  height: 103px;
}

.filed-156 {
  top: 102px;
  left: 1235px;
}
.filed-156 svg {
  width: 94px;
  height: 32px;
}

.filed-157 {
  top: 84px;
  left: 1226px;
}
.filed-157 svg {
  width: 87px;
  height: 24px;
}

.filed-158 {
  top: 66px;
  left: 1218px;
}
.filed-158 svg {
  width: 85px;
  height: 23px;
}

.filed-159 {
  top: 46px;
  left: 1210px;
}
.filed-159 svg {
  width: 83px;
  height: 31px;
}

.filed-160 {
  top: 34px;
  left: 1204px;
}
.filed-160 svg {
  width: 76px;
  height: 24px;
}

.filed-161 {
  top: 18px;
  left: 1199px;
}
.filed-161 svg {
  width: 72px;
  height: 27px;
}
/*end*/
